body {
	margin: 0;
	padding: 0;
	
	font-family: "PT Sans" , Arial, sans-serif; 
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	color: #000000;
	text-transform: uppercase;
	
	background-color: #ffffff;
	background-image: url("../img/sedona.jpg");
	background-position: top center;
	background-repeat: no-repeat;

}

.container {
    min-width: 768px;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: ;
	
	outline: 3px solid black;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.button {
	font-size:21px;
	line-height: 26px;
	font-weight: 700;
	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;
	border: none;
	cursor: pointer;
}

.button-brown {
	background-color: #766357;
}

.button-brown:hover,
.button-brown:focus {
	background-color: #604e43;
}

.button-brown:active {
    background-color: #503e33;
}

.button-blue {
	background-color: #81b3d2;
}

.button-blue:hover,
.button-blue:focus {
	background-color: #669ec0;
}

.button-blue:active {
    background-color: #5496bd;
}

.button-plus{
	font-weight: 700;
	color: #a9a9a9;
	background-color: #f2f2f2;
}

.button-minus{
	font-weight: 700;
	color: #a9a9a9;
	background-color: #f2f2f2;
}

.button-plus:hover,
.button-minus:focus {
	color: #000000;
}

.button-plus:active,
.button-minus:active {
	color: #81b3d2;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden, 
input[type="radio"].visually-hidden {
	position: absolute;
	
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	
	white-space: nowrap;
	
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* --- Header ---*/

.main-navigation {
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	background-color: #ffffff;
}

.site-navigation {
	list-style: none;
}

.site-navigation a {
	color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
	color: #81b3d2;
}

.site-navigation a:active {
	color: #cacaca;			
}

/* --- Main ---*/

.promo {
	text-align: center;
}

.context {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
}

.advantages {
	text-align: center;
}

.advantages-list,
.recommendations-list{
	list-style: none;
}

.advantage-item h3,
.recommendation-item h3,
.hotel-item h3 {
	font-size: 21px;
	line-height: 26px;
} 

.recommendation-item h3 {
	position: relative;
}

li:nth-child(1) .recommend-title::before {
	content: " ";
	
	top: -95px;
	left: 90px;
	
	position: absolute;
	
	width: 75px ;
	height: 72px;
	
	background-color: #ffffff;
	background-image: url(../img/icon-1.svg);
	
}

li:nth-child(2) .recommend-title::before {
	content: " ";
	
	top: -95px;
	left: 110px;
	
	position: absolute;
	
	width: 75px ;
	height: 74px;
	
	background-color: #ffffff;
	background-image: url(../img/icon-2.svg);
	background-repeat: no-repeat;
	
}

li:nth-child(3) .recommend-title::before  {
	content: " ";
	
	top: -95px;
	left: 105px;
	
	position: absolute;
	
	width: 75px ;
	height: 74px;
	
	background-color: #ffffff;
	background-image: url(../img/icon-3.svg);
	background-repeat: no-repeat;
}



.advantages-list >.advantage-item:nth-child(1),
.advantages-list >.advantage-item:nth-child(2){
	color:#ffffff;
	background-color: #81b3d2;
}

.more-advantages {
	background-color: #eeeeee;
}

.interested {
	font-size: 30px;
	line-height: 26px;
	font-weight: 700;
}

.search-hotel {
	text-align: center;
}

.search p:first-child {
	font-size: 30px;
	font-weight: 700;
}

/* --- Footer --- */

 .social-footer ul {
    list-style: none;
}

.hashtag {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700px;
}

.hashtag a{
	color: #000000;
}

/* --- modal window --- */

.pop-up .search-form{
	text-align: center;
}

.pop-up label{
	font-weight: 700;
}

/* Catalog */
.catalog {
	font-size: 14px;
	line-height: 21px;
	color: #000000;
	
	background-color:#ffffff;
	background-image: url("../img/filterback.jpg");
	background-position: top center;
	background-repeat: no-repeat;
}

/* ИЗМЕНИТЬ ЭТУ ЗАПИСЬ */

.catalog .site-navigation .hotels:visited{
	color: #766357; 
}

/* --- Сatalog main --- */

.services legend{
	font-size: 16px;
	font-weight: 700;
	line-height: 21px;
}

.service-type {
	color: #ffffff;
}

.from-to input[type="text"] {
	color: red;
    font-size: 14px;
	font-weight: 700;
	line-height: 21px;
}


.filter p {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
}

.filter h3,
.filter .sort-list {
	font-size: 12px;
	line-height: 18px;
}

.sort-list li a{
	color: #cacaca;
	border-bottom: 1px dotted #81b3d2;
}

.sort-list li a:hover,
.sort-list li a:focus {
	color: #81b3d2;
	border-bottom: 1px dotted #81b3d2;
}

.sort-list li a:active {
	color: #000000;
	border-bottom: none;
}

.sort-list li:first-child a{
	color: #81b3d2;
	border-bottom: none;
}

.sort-list,
.hotel-list {
	list-style: none;
}

.hotel-item h3:hover,
.hotel-item h3:focus {
	color: #81b3d2;
}

.hotel-item h3:active {
	color: #cacaca;
}

.hotel-item .button {
	font-size: 14px;
	line-height: 21px;
}

.hotel-item .rating {
	color: #666666;
	
}

/* --- СЕТОЧНЫЕ СТИЛИ --- */

.wrapper {
	width: 1056px;
	margin: 0 auto;
	outline: 2px solid purple;
}

.main-header {
	margin-bottom: 76px;
}

.main-navigation {
	position: relative;
}

.main-navigation .main-header-logo {
	position: absolute;
	
	width: 138px;
	height: 70px;
	
	margin-left: 45%;
}

.site-navigation {
	display: flex;
	
	margin: 0;
	padding: 0;
	
	list-style: none;
}

.site-navigation li:nth-child(1) {
	margin-right: 146px;
}

.site-navigation li:nth-child(2) {
	margin-right: 389px;
}

.site-navigation li:nth-child(4) {
	margin-left: auto;
}

.site-navigation a {
	display: block;
	padding: 14px 0;
		
	vertical-align: middle;	
}

.promo {
	outline: 1px solid red;
	
	margin-bottom: 92px;
}

.advantage-promo {
	outline: 1px solid red;
	
	
	padding-top: 44px;
	padding-bottom: 43px;
}

.advantage-promo .context {
	width: 442px;
	margin: auto;
	margin-bottom: 21px;
}

/* --- Advantage List --- */

.advantages-list {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

.advantages-list > li:nth-child(2) {
	flex-direction: row-reverse;
}

/* --- Advantage Item --- */

.advantage-item {
	display: flex;
	
}

.advantage-item:nth-child(1) img {
	margin-left: auto;
}

.advantage-item:nth-child(2) img {
	margin-right: auto;
}

/* --- Order --- */

.advantages-list li:nth-child(2) {
	order: 2;
}

.advantages-list li:nth-child(3) {
	order: 3;
}

.advantages-list li:nth-child(4) {
	order: 1;
}


/* --- Advantage Info--- */

.advantage-info {
	width: 275px;
}

.advantage-info h3 {
	width: 151px;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 16px; 
	
	font-size: 21px;
	line-height: 26px;
}

.advantage-info span {
	display: block;
	margin-bottom: 20px;
}

.advantage-info p {
	margin: 0;
	padding: 0;
	
	margin-bottom: 35px;
}

.info-town {
	margin-left: 70px;
}

.info-bridge {
	width: 305px;
	margin-right: 45px;
}

/* --- More Advantages --- */

.more-advantages {
	display: flex;
	justify-content: space-between;
	
	padding: 0;
}


/* --- Recommendations --- */

.recommendations-list {
	display: flex;
	line-height: 23px;
	
	margin: 0;
	padding: 0;
}

.recommendations-list li:nth-child(1) {
	width: 255px;
}

.recommendations-list li:nth-child(2) {
	width: 300px;
	
	margin-left: 121px;
}

.recommendations-list li:nth-child(3) {
	width: 277px;
	
	margin-left: auto;
}

.recommendation-item {
	
	width: 286px;
	
	padding-top: 135px;
	padding-bottom: 69px;
}


/* --- search-hotel --- */

.search-hotel {
	padding-top: 30px;
	
	outline: 1px solid red;
}

.search-hotel .button {
    width: 556px;
	
	margin-top: 26px;
	padding: 30px 0;
}

/* --- hashtag, social-footer, copyright-footer --- */

.wrapper-footer {
	margin-top: -10px;
	
	display: flex;
	justify-content: space-between;
}


.social-footer ul{
	display: flex;
	
	margin:0;
	padding: 0;
	
}

.hashtag {
	padding-top: 51px;
	padding-right: 44px;
	padding-bottom: 53px;
	padding-left: 60px;
	
}

.copyright-footer {
	padding-top: 41px;
	padding-right: 29px;
	padding-bottom: 40px;
	padding-left: 15px;
}

/* --- Сеточные стили каталога --- */

.catalog .main-navigation {
	margin-bottom: 27px;
}

/* --- Services --- */

.services {
	padding: 0;
	margin: 0;
}

.service-type {
	display: flex;
}

.service-type fieldset {
	padding: 0;
	
	border: none;
}

.service-type fieldset:nth-child(1) {
	width: 241px;
}

.service-type fieldset:nth-child(2) {
	width: 288px;
	margin-right: auto;
}

.service-type fieldset:nth-child(3) {
	width: 328px;
}

/* --- Filter --- */

.filter-range {
  width: 330px;
  margin: 50px auto; /* для демо */

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  
  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;


