body {
	margin: 0;
	padding: 0;
	
	font-family: "PT Sans" , Arial, sans-serif; 
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	color: #000000;
	text-transform: uppercase;
	
	background-color: #ffffff;

}

.container {
	min-width: 768px;
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
	box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2); 
}

.inner-page .container {
	min-width: 768px;
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
	box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2); 
	background-color: #fefefe;
}

.inner-page .main-footer div{
	background-color: #fefefe;
}

.inner-page {
	font-size: 14px;
	line-height: 21px;
	color: #000000;
}

.hotel-page:visited{
	color: #766357;
}

.wrapper {
	width: 1056px;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.button {
	display: inline-block;
	padding: 3px 17px;
	margin-right: 2px;
	
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;
	border: none;
	cursor: pointer;
}


.button-brown {
	background-color: #766357;
}

.button-brown:hover,
.button-brown:focus {
	background-color: #604e43;
}

.button-brown:active {
	background-color: #503e33;
}

.button-blue {
	background-color: #81b3d2;
}

.button-blue:hover,
.button-blue:focus {
	background-color: #669ec0;
}

.button-blue:active {
	background-color: #5496bd;
}

.button-plus,
.button-minus {
	font-weight: 700;
	color: #a9a9a9;
	background-color: #f2f2f2;
}

.button-plus:hover,
.button-plus:focus,
.button-minus:hover,
.button-minus:focus {
	color: #000000;
}

.button-plus:active,
.button-minus:active {
	color: #81b3d2;
}

.button-search,
.button-find	{
	font-size: 21px;
	line-height: 26px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden, 
input[type="radio"].visually-hidden {
	position: absolute;
	
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	
	white-space: nowrap;
	
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* --- HEADER ---*/

.main-navigation {
	position: relative;
	
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	background-color: #ffffff;
}

.main-navigation .main-header-logo {
	position: absolute;
	width: 138px;
	height: 70px;

	margin-left: 530px;
}

.site-navigation {
	display: flex;

	margin: 0;
	padding: 0;

	list-style: none;
}

.site-navigation li:nth-child(1) {
	margin-right: 146px;
}

.site-navigation li:nth-child(2) {
	margin-right: 390px;
}


.site-navigation li:nth-child(4) {
	margin-left: auto;
}


.site-navigation a {
	display: block;
	
	color: #000000;
	
	padding: 14px 0;
	vertical-align: middle;
}

.site-navigation a:hover,
.site-navigation a:focus {
	color: #81b3d2;
}

.site-navigation a:active {
	color: #cacaca;			
}

/* --- MAIN ---*/

.promo {
	text-align: center;
	
	padding-top: 76px;
	padding-bottom: 75px;
	background-image: url("../img/sedona.jpg");
    background-position: 0 20%;
	background-repeat: no-repeat;
	background-size: cover;
}

.advantage-intro {
	text-align: center;
	padding-top: 55px;
	padding-bottom: 40px;
}

.advantage-intro .context {
	width: 450px;
	margin: 0 auto;
	margin-top: 5px;
    margin-bottom: 30px;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
}

.advantages-list {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

.advantages-list,
.recommendations-list {
	text-align: center;
	list-style: none;
}

.advantages-list > li:nth-child(2) {
	flex-direction: row-reverse;
}

.advantages-list >.advantage-item:nth-child(1),
.advantages-list >.advantage-item:nth-child(2){
	color:#ffffff;
	background-color: #81b3d2;
}

.advantages-list li:nth-child(2) {
	order: 2;
}

.advantages-list li:nth-child(3) {
	order: 3;
}

.advantages-list li:nth-child(4) {
	order: 1;
}

.advantage-item {
	display: flex;
	justify-content: space-between;
}

.advantage-item h3,
.recommendation-item h3,
.hotel-item h3 {
	font-size: 21px;
	line-height: 26px;
	margin-top: 15px;
	
} 

.advantage-item:nth-child(1) img {
	margin-left: auto;
}

.advantage-item:nth-child(2) img {
	margin-right: auto;
}

.advantage-info {
	width: 275px;
}

li.advantage-item:nth-child(1) h3.info-title::after {
	display: block;
	content: "- №1 -";
	font-size: 14px;
	line-height: 26px;
	font-weight: 300;
	margin-top: 20px;
}

li.advantage-item:nth-child(2) h3.info-title::after {
	display: block;
	content: "- №2 -";
	font-size: 14px;
	line-height: 26px;
	font-weight: 300;
	margin-top: 20px;
}

li.advantage-item:nth-child(1) h3::after {
	display: block;
	content: "- №3 -";
	font-size: 14px;
	line-height: 26px;
	font-weight: 300;
	margin-top: 20px;
}

li.advantage-item:nth-child(2) h3::after {
	display: block;
	content: "- №4 -";
	font-size: 14px;
	line-height: 26px;
	font-weight: 300;
	margin-top: 20px;
}

li.advantage-item:nth-child(3) h3::after {
	display: block;
	content: "- №5 -";
	font-size: 14px;
	line-height: 26px;
	font-weight: 300;
	margin-top: 20px;
}

.advantage-info h3 {
	width: 151px;
	margin: 0 auto;
	
    font-size: 21px;
	line-height: 26px;
}


.advantage-info.info-town {
	margin-top: 30px;
	margin-left: 60px;
	margin-bottom: 16px;
}

.advantage-info.info-bridge {
	width: 305px;
	margin-top: 35px;
	margin-right: 45px;
	margin-bottom: 16px;
}

.more-advantages {
	background-color: #eee;
}

.more-advantages .advantage-item {
	padding-top: 35px;
	padding-bottom: 45px;
}

.more-advantages p {
	margin-top: 10px;
	text-align: center;
}

.more-advantages-list {
	display: flex;
	justify-content: space-between;
	padding: 0;
}

.recommendations-list {
	display: flex;
	justify-content: space-around;
	line-height: 23px;

	margin: 0;
	padding: 0;
}

.recommendations-list li:nth-child(1) {
	width: 255px;
}

.recommendations-list li:nth-child(2) {
	width: 300px;

	margin-left: 121px;
}

.recommendations-list li:nth-child(3) {
	width: 277px;

	margin-left: auto;
}

.recommendation-item {

	width: 286px;

	padding-top: 135px;
	padding-bottom: 69px;
}

.recommendation-item h3 {
	position: relative;
}

li:nth-child(1) .recommend-title::before {
	content: " ";
	
	top: -95px;
	left: 90px;
	
	position: absolute;
	
	width: 75px ;
	height: 72px;
	
	background-color: #ffffff;
	background-image: url(../img/icon-1.svg);
}

li:nth-child(2) .recommend-title::before {
	content: " ";
	
	top: -95px;
	left: 110px;
	
	position: absolute;
	
	width: 75px ;
	height: 74px;
	
	background-color: #ffffff;
	background-image: url(../img/icon-2.svg);
	background-repeat: no-repeat;
}

li:nth-child(3) .recommend-title::before  {
	content: " ";
	
	top: -95px;
	left: 105px;
	
	position: absolute;
	
	width: 75px ;
	height: 74px;
	
	background-color: #ffffff;
	background-image: url(../img/icon-3.svg);
	background-repeat: no-repeat;
}

.search-hotel {
	text-align: center;
	width: 568px;
	
	padding-top: 26px;
	margin: 0 auto;
}

.interested {
	font-size: 30px;
	line-height: 26px;
	font-weight: 700;
}

.button-search {
	width: 100%;;
	margin: 0;
	margin-top: 26px;
	padding: 30px 0;
}


/* --- POP-UP --- */

.search-hotel .dropdown{
	width: 556px;
	margin: 0 auto;
	position: relative;
}
.pop-up-dropdown{
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	background: #fff;
	box-shadow: 0 7px 15px 0 rgba(0,0,0,.15);
}
.pop-up-hide{
	display: none;
}
.pop-up-dropdown .search-form{
	text-align: center;
}

.pop-up-dropdown label{
	font-weight: 700;
}
.pop-up-dropdown .search-form {
	display: flex;
	flex-wrap: wrap;
	
	padding: 55px;
}

.form-item{
	display: flex;
	align-items: center;
	margin-bottom: 22px;
	margin-top: 0;
	width: 100%;
}

.form-item.check-in-out {
	position: relative;
}


.form-item-block{
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.form-item input{
	box-sizing: border-box;
	width: 100%;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	
	padding: 10px;
	border: none;
	background-color: #eee;
	cursor: pointer;
}

.form-item.check input[type="text"] {
	background-color: #f2f2f2;
	padding-right: 30px;
}

.form-item.check input[type="text"]:hover {
	background-color: #ebebeb;
}

.form-item.check input[type="text"]:focus {
	background-color: #ffffff;
}


.icon-calendar {
	z-index: 1;
	background-image: url(../img/calendar.svg);
	background-repeat: no-repeat;
	background-position: 300px center;
}


.form-item-block .button{
	margin: 0;
	padding: 13px 10px;
}
.form-label {
	
	flex-shrink: 0;
	margin-right: 29px;
}

.form-item-block .form-item:nth-child(2){
	justify-content: flex-end;
}
.form-item-block .form-item input{
	width: 38px;
	text-align: center;
}
.form-item-block .number-input{
	margin-left: 20px;
}
.form-item-block .form-label{
	width: auto;
	
}
.number-input{
	display: flex;
}

.button-find {
	width: 456px;
	padding: 15px;
	margin-top: 30px;
}

.search-form div:nth-child(2) .form-label {
	margin-left: -3px;
}

.button-calendar {
	position: absolute;
	right: 45px;
	fill: #cacaca;
}

.button-calendar:hover,
.button-calendar:focus {
	fill: #000000;			
} 

.button-calendar:active {
	fill: #81b3d2;			
}

/*--- MAP ---*/

 .main-footer-map .footer-column {
    position: absolute;
	width: 100%;
	bottom: 0;
    left: 0;
    right: 0;
	background-color: #ffffff;  
  }

/* --- FOOTER --- */


.main-footer {
	position: relative;
	display: flex;
	
}

.main-footer div {
	display: flex;
	align-items: center;
	width: 401px;
	min-height: 120px;
	
	background-color: #f9fbf6;
}

.hashtag-footer {
	display: flex;
	font-weight: 700;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700px;
	
	justify-content: center;
}

.hashtag-footer a{
	color: #000000;
}

.social-footer ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 150px;

	margin: 0 auto;
	padding: 0;

	list-style: none;
}

.social-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 46px;
	height: 48px;

	background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
	background-color: #669ec0;
}

.social-button:active {
	background-color: #5496bd;
}

.social-button:active path{
	fill: #88b6d1;
}

.copyright-footer {
	display: flex;
	justify-content: center;
	
}

.copyright-footer p {
	margin-top: 5px;
	margin-right: 8px;
}

.copyright-footer .htmlacademy-logo:hover path,
.copyright-footer .htmlacademy-logo:focus path 								{
	fill: #98c1da;
}

.copyright-footer .htmlacademy-logo:active path {
	fill: #bdbbbc;
}

/* --- SERVICES--- */

.services {
	padding-top: 28px;
	padding-bottom: 20px;
	
	background-image: url(../img/filterback.jpg);
	
}

.service-type {
	display: flex;
	
	color: #ffffff;
}

.service-type fieldset {
	width: 250px;
	padding: 0;
	
	border: none;
}

.options p {
	margin-top: 25px;
}

.services legend {
	margin-left: -2px;
	font-size: 16px;
	font-weight: 700;
	line-height: 21px;
}

.option-checkbox {
	position: relative;
	
	padding-left: 40px;
	padding-bottom: 8px;
	
	
	cursor: pointer;

	outline: none;
}

.option-checkbox:hover,
.option-checkbox:focus {
	border: none;
	color: ;
}

.service-type input[type=checkbox]:checked + .checkbox-indicator{
	background-image: url(../img/checkbox-on.svg);
}
.option-checkbox input[type="checkbox"] + .checkbox-indicator {
	position: absolute;
	
	top: 0;
	left: 0;
	
	width: 26px;
	height: 23px;
	
	background-image: url(../img/checkbox-off.svg);
	background-repeat: no-repeat;
}

.option-checkbox input[type="checkbox"]:focus + .checkbox-indicator {
	border-color: red;
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring;
	
}

/* --- SERVICES FILTER --- */

.filter-range {
  width: 330px;
  margin-left: auto;

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;
  margin-left: 13px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  
  width: 317px;	
  height: 34px;
  margin-bottom: 20px;
  margin-left: 10px;	
  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-left: 10px;	
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  width: 5px;
  height: 5px;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.button-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.button-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

/* --- SORT --- */
.sort {
	border-bottom: 1px solid #e5e5e5;
	padding: 15px 0;
}

.sort div{
	display: flex;
    align-items: center;
}

.sort-found {
	width: 150px;
}

.sort .sort-found p{
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
    margin: 0;
	margin-left: px;
}

.sort-type {
	width: 100%;
	margin-left: 10px
}

.sort-type h3 {
	font-size: 12px;
	line-height: 18px;
	
	margin-top: 18px;
	margin-left: 28px;
}

.sort-type-list {
	display: flex;
	list-style: none;
	
	margin-top: 16px;
}

.sort-type-list li:nth-child(3) {
	margin-left: 5px;
}

.sort-type-list a {
	margin-right: 30px;
	font-size: 12px;
	line-height: 18px;
	color: #d1d1d1;
	border-bottom: 1px dotted #81b3d2;
}

.sort-type-list a:hover,
.sort-type-list a:focus {
	color: #b3d1e4;
	border: none;
}

.sort-type-list a:active {
	color: #000000;
	border: none;
}


.sort-buttons .button{
	width: 20px;
	margin: 0;
	padding: 0;
	fill: #cacaca;
}

.button.button-arrow-down {
	fill: #81b3d2;
}

.button-arrow:hover path,
.button-arrow:focus path {
	fill: #231f20; 
}

.button-arrow:active path,
.button-arrow:active path {
	fill: #81b3d2; 
}


/* --- HOTELS --- */


.hotel-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.hotel-item{
	display: flex;
	padding: 30px 70px;
	border-bottom: 1px solid #e5e5e5;
}

.hotel-item-info {
	width: 260px; 
	margin-left: 30px;
}

.details-booking {
	display: flex;
}

.details-booking p {
	margin-top: 4px;
}

.hotel-item-info h3{
	margin: 0;
	
	cursor: pointer;		
}

.hotel-item h3:hover,
.hotel-item h3:focus {
	color: #81b3d2;
}

.hotel-item h3:active {
	color: #cacaca;
}

.hotel-item .button {
	font-size: 14px;
	line-height: 21px;
	margin-right: 6px;
}

.rating-block{
	width: 110px;
	margin-left: auto;
	display: flex;
	flex-direction: column;
}

.rating-stars {
	text-align: right;
	margin-right: 4px;
	margin-top: 3px;
}

.rating-value {
	text-align: center;
	margin-top: auto;

	margin-bottom: 0;
	padding: 3px 0;
	color: #666;
    background: #f2f2f2;   
}

























